@font-face {
  font-family: 'RG';
  src: url(./space/regular.ttf);
} 

@font-face {
  font-family: "LG";
  src: url(./space/regular.ttf);
}

@font-face {
  font-family: 'LGG';
  src: url(./space/bold.ttf);
}