:root {
    --background: #080808;
    --overlay: #8787871e;
    --text-color: white;
    --border-color: #444444;
    --grey: #626262;
    --animate-duration: 1s;
}

a { text-decoration: none; color: var(--text-color); }

::selection {
    color: #74ff5c;
}

* { margin: 0; padding: 0; scroll-behavior: smooth; font-family: 'RG'; line-height: 1.5rem; font-size: 1.1rem; -webkit-tap-highlight-color: transparent;}

.full-height { height: 100%; }

.bold-tx, .bold-tx sup { font-family: 'LG'; color: var(--grey);}

.grey-tx { color: var(--grey); }

.smoke-tx { color: #a2a2a2; }

.white-tx { color: white; }

.large-text-tx {
    font-size: 3rem;
    line-height: 3.4rem;
    font-family: 'LG';
}

.large-text sup {
    -webkit-text-stroke: 0;
}

.large-tx, .large-tx sup {
    font-size: 1.5rem;
    line-height: 2.1rem;
}

.bg-white {
    background: white;
}

.white-content {
    /* background: white;
    color: black; */
    border-top: 1px solid var(--border-color);
}

.padd-ref {
    padding: 130px 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .4s ease-in-out;
    width: 100%;
    position: fixed;
    mix-blend-mode: difference;
    /* box-shadow: 0 0 0 0.01rem var(--border-color); */
    z-index: 2;
    height: 4cm;
}

header nav {
    display: flex;
    width: 95%;
    border-radius: 100px;
    align-items: center;
}

a.brand img {
    width: 100px;
}

.button {
    padding: 13px 20px;
    border-radius: 100px;
    font-family: 'LG';
    color: var(--grey);
    display: inline-flex;
    align-items: center;
    transition: .4s ease-in-out;
    position: relative;
}

.chip {
    padding: 10px 0px;
    border-bottom: 0.02rem solid var(--border-color);
    /* border-radius: 100px; */
    font-size: 1rem;
    color: var(--grey);
}

.button svg {
    width: 18px;
    transform: translateY(4px);
    margin-left: 10px;
}

.large-circle-button {
    backdrop-filter: blur(8px);
    box-shadow: 0 0 0 .01rem var(--border-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    overflow: hidden;
    height: 150px;
    border-radius: 200px;
    position: relative;
    font-family: 'LG';
}

.large-circle-button:hover {
    box-shadow: 0 1px 5px 0 #dfdfdfa1;
}

.large-circle-button:hover::after {
    content: 'Scroll';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    transition: .4s ease-in-out;
    animation-delay: 0s;
    animation: swing 0.6s linear;
    background: white;
    color: black;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 500px;
}

.large-text, .large-text span {
    font-size: 8rem;
    font-family: 'LG';
    -webkit-text-stroke: 4px;
}

.button::before {
    content: '';
    position: absolute;
    transition: .4s ease-in-out;
    background: var(--overlay);
    left: 0;
    width: 46px;
    z-index: 1;
    height: 47px;
    top: 2px;
    border-radius: 100px;
}

.button:hover::before {
    width: 100%;
    box-shadow: 0 0 0 0.01rem var(--border-color);
}

.button:hover { color: white; }

div.menu {
    width: 40px;
    position: relative;
    cursor: pointer;
    height: 50px;
}

div.menu::before, div.menu::after {
    content: '';
    transition: .2s ease-in-out;
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 18px;
    background: white;
}

div.menu::after {
    transition: .1s ease-in-out;
    top: 18px;
}

div.menu.focused {
    transition: .4s ease-in-out;
}

div.menu.focused::before {
    transform: rotate(45deg);
    top: 22px;
}

div.menu.focused::after {
    transform: rotate(-45deg);
    top: 22px;
}

div.large-menu {
    width: 100%;
    height: calc(100% - 0px);
    padding-bottom: 50px;
    top: 0;
    left: 0;
    position: fixed;
    background: var(--background);
    /* backdrop-filter: blur(10px); */
    overflow: hidden;
    display: none;
    z-index: 1;
}

.abso-link {
    font-size: 3.5rem;
    font-family: 'LG';
    position: absolute;
    line-height: 3.5rem;
    -webkit-text-stroke: 1px;
    bottom: -4px;
    transform: rotate(90deg);
    transform-box: fill-box;
    transition: .4s ease-in-out;
    transform-origin: top right;
    right: 2.5%;
    z-index: 1;
    color: #2b2b2b;
}

.abso-link:hover {
    color: white;
}

div.menu-socials, div.menu-links {
    height: 100%;
}

ul { list-style-type: none; }

div.menu-socials ul li a {
    color: var(--grey);
    font-family: 'LG';
    align-items: center;
}

div.menu-links ul li a {
    font-family: 'LG';
    font-size: 3.5rem;
    transition: .4s ease-in-out;
}

div.menu-links ul li a:hover {
    color: var(--grey) !important;
}

div.menu-socials ul li {
    margin-top: 10px;
}

div.menu-links ul li {
    margin-top: 40px;
}


.container {
    width: 60%;
    margin: 0 auto;
    position: relative;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.center-align {
    align-items: center;
}

.align-end {
    align-items: flex-end;
}

.large-12 { width: calc((12/12) * 100%);}
.large-11 { width: calc((11/12) * 100%);}
.large-10 { width: calc((10/12) * 100%);}
.large-9 { width: calc((9/12) * 100%);}
.large-8 { width: calc((8/12) * 100%);}
.large-7 { width: calc((7/12) * 100%);}
.large-6 { width: calc((6/12) * 100%);}
.large-5 { width: calc((5/12) * 100%);}
.large-4 { width: calc((4/12) * 100%);}
.large-3 { width: calc((3/12) * 100%);}
.large-2 { width: calc((2/12) * 100%);}
.large-1 { width: calc((1/12) * 100%);}

.hide-on-large-flex { display: none; justify-content: space-between; }

footer {
    width: 100%;
    overflow: hidden;
    position: relative;
    background: #141414;
    padding: 140px 0 20px 0;
}

footer::before {
    content: '';
    position: absolute;
    box-shadow: 0 0 0 .01rem var(--border-color);
    border-radius: 800px;
    left: -400px;
    top: -100px;
    width: 800px;
    height: 800px;
}

.footer-bottom {
    margin-top: 200px;
    justify-content: center;
    align-items: center;
}

div.footer-bottom a {
    margin-left: 20px;
    display: flex;
    height: 20px;
    padding-top: 8px;
    align-items: center;
}

div.footer-bottom a svg {
    width: 18px;
}

div.cpr {
    font-size: 0.8rem;
    padding-right: 20px;
    border-right: 0.08rem solid var(--border-color);
    display: inline-flex;
    align-items: center;
}

.center-text { text-align: center; }

header a.button { color: white; }

div.loader {
    height: 100%;
    width: 100%;
    position: fixed;
    background: var(--background);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.loader img {
    animation-duration: 1s;
}

div.loader div.load {
    font-size: 15vw;
    -webkit-text-stroke: 4px;
    color: #101010;
    position: absolute;
    width: 100%;
    z-index: -1;
    font-family: 'LG';
    height: 100%;
    animation-duration: 1.5s;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.loader::before, div.loader::after {
    content: '';
    position: absolute;
    width: 20vw;
    bottom: 50px;
    height: 3px;
    border-radius: 100px;
    background: #101010;
}

div.loader::after {
    background: white;
    z-index: 1;
    left: 40vw;
    animation: load 3s cubic-bezier(0.175, 0.885, 0.32, 0.875);
}

/* #rel { display: none; } */

div.list div {
    margin-bottom: 20px;
    position: relative;
    padding-left: 20px;
    margin-top: 15px;
    font-size: 1rem;
}

div.list div::before {
    content: '';
    position: absolute;
    width: 5px;
    left: 0;
    border-radius: 100px;
    height: 5px;
    background: white;
    top: 0;
    bottom: 0;
    margin: auto;
}

div.list div span {
    font-family: 'LG';
}